.row{
    padding-top: 50px;
}

.btn{
    margin-top: 5px;
    margin-left: 30px;
    margin-right: -40px;
}

.right{
    margin-bottom: 42px;
    padding-bottom: 0px;
}

.languageSelection{
    text-align: left;
    float: left;
}
.inputText{
    text-align: left;
    float: left;
}
.rightElements{
    text-align: left;
    float: left;
}
.col2{
    margin-top: 50px;
}